# Feature Engineering

## Imports

In [18]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

## Load processed dataset

In [19]:
df = pd.read_csv("../data/processed.csv")
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month,AGE_BIN
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1,18-29
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1,18-29
2,3,90000.0,2,2,2,34,0,0,0,0,...,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0,30-39
3,4,50000.0,2,2,1,37,0,0,0,0,...,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0,30-39
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0,50-59

In [20]:
df.shape

(30000, 26)

## Split features and target

In [21]:
target = "default.payment.next.month"
X = df.drop(columns=[target])
y = df[target].values

## Train Test split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [23]:
np.unique(y_train, return_counts=True)
np.unique(y_test, return_counts=True)

(array([0, 1]), array([4673, 1327]))

In [24]:
X_train

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,AGE_BIN
22788,22789,160000.0,2,2,2,33,2,2,3,2,...,164310.0,162681.0,163005.0,15000.0,0.0,0.0,6100.0,12300.0,6100.0,30-39
29006,29007,150000.0,2,1,2,34,1,-1,-1,-2,...,0.0,0.0,0.0,53.0,0.0,0.0,0.0,0.0,0.0,30-39
16950,16951,10000.0,1,2,1,50,1,2,0,0,...,8067.0,8227.0,8400.0,2.0,1281.0,1134.0,294.0,305.0,1000.0,50-59
22280,22281,220000.0,2,1,2,29,0,0,0,0,...,218513.0,131660.0,134346.0,9100.0,9000.0,7887.0,4800.0,4900.0,6000.0,18-29
11346,11347,310000.0,2,1,2,32,1,-2,-1,0,...,326.0,-235.0,-235.0,0.0,326.0,0.0,0.0,0.0,1200.0,30-39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23479,23480,100000.0,2,2,2,31,0,0,0,0,...,97486.0,97604.0,97241.0,3309.0,4421.0,5486.0,3400.0,3541.0,3894.0,30-39
13921,13922,120000.0,2,2,2,24,0,0,0,0,...,113948.0,122127.0,121962.0,4200.0,4100.0,4100.0,10000.0,4560.0,0.0,18-29
3794,3795,120000.0,2,1,2,24,0,0,0,0,...,49924.0,33188.0,19826.0,3700.0,2023.0,2016.0,2000.0,1200.0,1000.0,18-29
27565,27566,360000.0,1,1,1,57,1,-2,-1,-1,...,246.0,-46.0,-46.0,0.0,860.0,246.0,0.0,0.0,0.0,50-59
27126,27127,300000.0,1,1,1,35,-1,-1,-1,-1,...,0.0,0.0,0.0,1217.0,338.0,0.0,0.0,0.0,0.0,30-39

## Convert to NumPy arrays

In [25]:
df = pd.get_dummies(df, columns=["AGE_BIN"], drop_first=True)

In [26]:
X_train_np = X_train.values.astype(float)
X_test_np = X_test.values.astype(float)
y_train_np = y_train.astype(int)
y_test_np = y_test.astype(int)

ValueError: could not convert string to float: '30-39'